Source: textflow
Section: editors
Priority: optional
XS-Python-Version: all
Maintainer: Jrabbit <jackjrabbit@gmail.com>
Build-Depends: cdbs, debhelper (>= 7), python-central (>= 0.5.6), python
Standards-Version: 3.9.1
Homepage: http://www.textflowproject.org/
Vcs-Browser: https://code.launchpad.net/~textflow-dev/textflow/dev

Package: textflow
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}, python-gnome2, python-gtk2, python-glade2, libgnomevfs2-0, python-gnome2-desktop-dev, python-gtksourceview2, ${misc:Depends}
Description: Modern, powerful and intuitive text editor for GNOME.
 TextFlow is a powerful and intuitive text editor with tools to boost your
 productivity. TextFlow have a extensible language system that provides custom
 features for many programming languages supported by the editor.
