Source: textflow
Section: editors
Priority: optional
XS-Python-Version: all
Maintainer: Jack Laxson <jackjrabbit@gmail.com>
Build-Depends: cdbs, debhelper (>= 7), python-central, python
Standards-Version: 3.9.1
Homepage: http://www.textflowproject.org/
Vcs-Browser: https://github.com/jrabbit/textflow-debian
Vcs-Git: git://github.com/jrabbit/textflow-debian.git

Package: textflow
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}, python-gnome2, python-gtk2, python-glade2, libgnomevfs2-0, python-gnome2-desktop-dev, python-gtksourceview2, python-dbus, ${misc:Depends}
Description: modern, powerful and intuitive text editor for GNOME
 TextFlow is a powerful and intuitive text editor with tools to boost your
 productivity. TextFlow has an extensible language system that provides custom
 features for many programming languages supported by the editor
